<h2>LDB Retail Inventory</h2>

<h3>Powered by Azure Angular App Services</h3>

<div class="col-4">
  <div class="example-container mat-elevation-z8">
    <div>
      <table mdbTable>
        <thead class="black white-text">
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of inventories">
            <th scope="row">{{el.numberOfStores}}</th>
            <td>{{el.store}}</td>
            <td>{{el.sku}}</td>
            <td>{{el.available}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
  
</div>

  

